* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  color: #e1e1e6;
  background-color: #000;
}

body * {
  font-family: var(--ff-primary);
}

#app {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  gap: 18rem;
  margin: 8.7rem 0;
}

header .logo {
  width: 11rem;
  height: 2rem;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search input {
  width: 39rem;
  height: 4.8rem;
  background-color: #06181c;
  border: none;
  border-radius: 0.5rem;
  padding: 1.6rem;
  color: #fff;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #065e7c;
  color: #fff;
  gap: 0.8rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0.5rem;
  width: 17rem;
  height: 4.8rem;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}

main {
  border: 1px solid #4A808C;
  border-radius: 10px;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border: 1px solid #4A808C;
  border-radius: 10px;
}

table * {
  font-size: 1.5rem;
}

table th {
  background: #092d38;
  text-align: left;
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
  font-weight: 700;
  font-size: 1.7rem;
}

table tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.50);
}

table tr {
  background: #06181c;
  font-weight: 700;
  border-bottom: 1px solid #4A808C;
}

td {
  padding: 1.5rem 1.5rem 1.5rem 2.5rem;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;
  color: #E1E1E6;
}

span {
  text-decoration: none;
  color: #E1E1E6;
  font-weight: 400;
}

td button.remove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}
